

<!-- <br><br>
<p>home works!</p> -->

<style>
  .card2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin: auto;
    padding: 10px; */
  }
  .card3{
    margin: auto;
    padding: 10px;
  }
</style>

<!-- De Bootstrap -->

<br><br>
<hr>
<h1 style="text-align: center;">Productos Disponibles</h1>
<hr><br>

<div class="card2">
  <div class="card3" *ngFor="let datos of productos">
    <div class="card" style="width: 18rem;">
        <img src="{{datos.urlimg}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 style="text-align: center;" class="card-title">{{datos.nombre}}</h4>
          <hr>
          <p class="card-text"><b>Descripción:</b> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <hr>
          <p><b>id: </b> {{datos.id}}</p>
          <hr>
          <p><b>Producto: </b> {{datos.nombre}}</p>
          <hr>
          <p><b>Cantidad: </b> {{datos.cantidad}}</p>
          <hr>
          <p><b>Categoría: </b> {{datos.categoria}}</p>
          <hr>
          <p><b>Precio: </b> {{datos.precio}}</p>
          <hr>
          <p><b>Feche Creación: </b> {{datos.createdAt}}</p>
          <hr>
          <p><b>Fecha Actualización: </b> {{datos.updatedAt}}</p>
          <hr>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
  </div>
</div>


<br><br>

<img src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/logo/1637795116/Logo.png" alt="">