
<!-- <h1>Página Principal  =>  App</h1> -->

<!-- <div>
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">Página Principal => Home</a> 
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Página Contáctenos => Contact</a>
    </li>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Tablero de Admin => Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/users']" routerLinkActive="router-link-active" >Admin Usuarios => Users</a>
    </li>
  </ul>
</div> -->

<!-- Etiqueta propia de Angular
Para mostrar los componentes hijos -->
<router-outlet></router-outlet>


<br><hr>
<h4>Pie de Página</h4>

<p>Contenido del pie de página...</p>